body{
  width:85%;
  color: white;
  text-align:center;
  padding-top:1%
}

main{
  width:35%;
  text-align: left;
  font-family: Roboto;
  margin-top: 25px;
  margin:auto;
  font-size:13px;
}

#Hello{
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
}

footer{
  font-family: Lato;
  font-size:13px
}

footer p{
  margin-bottom: -14px;
}
