h1{
    text-align:center;
}

body{
    padding-left:2em;
    padding-right:2em;
    margin-left:auto;
    margin-right:auto;
    max-width:50%;
}

h1, h2, h3, h4, h5{
    font-family:'Montserrat', sans-serif;
    margin-top:2em;
    margin-bottom:-0.1em;
  }

h5{
    text-decoration: underline;
}

p{
    font-family:Quicksand, sans-serif;
    font-size:11px;
}

#tper{
    font-size:30px;
}

#cmain{
    margin-top:1.5em;
    border: 2px solid black;
    border-radius:8px;
    padding:5px;
}

.per{
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:30vw;
    max-height:100%;
    max-width:100%;
    background-size: contain;
    background-repeat:no-repeat;
    margin-right:-0.8em;
}

.per:first-child{
    background-image:url("images/joep.png");
    margin-top:1em;
    margin-bottom:1em;
}

.per:nth-child(2){
    background-image:url("images/stap.png");
}

footer{
    text-align:center;
}

img{
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    display: block;
    box-shadow: 10px 10px 5px gray;
    margin-top:1em;
}

a:link{
    color:#DF2935;
}

a:visited{
    color:#DF2935;
}

footer{
    font-family:Quicksand, sans-serif;
    font-size:11px;
}

footer a:link{
    text-decoration:none;
    color: #000000;
}

footer a:visited{
    color:#000000;
}

#fper{
    margin-bottom:2em;
}